version: "3.8"
services:
  db:
    container_name: pg_container_task
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: kLUx3TRq6RLcLP6
      POSTGRES_DB: postgres
    volumes:
      - ./migration:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"
    networks:
      - default
  # pgadmin:
  #   container_name: pgadmin
  #   image: dpage/pgadmin4
  #   restart: always
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: test@gmail.com
  #     PGADMIN_DEFAULT_PASSWORD: kLUx3TRq6RLcLP6
  #   ports:
  #     - "5051:80"
  #   depends_on:
  #     - db
  #   networks:
  #     - default
  app:
    container_name: bill_easyApp
    build: .
    restart: always
    environment:
      PORT: 5002
      PGUSER: postgres
      PGDATABASE: postgres
      PGPASSWORD: kLUx3TRq6RLcLP6
      PGPORT: 5432
      PGHOST: pg_container_task
      ENVIRONMENT: production
    ports:
      - "5001:5000"
    depends_on:
      - db
    networks:
      - default
